* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

html {
    display: none;
    background-color: #c3d7d3;
    font-family: "HK Grotesk";
    color: white;
}
body {
    letter-spacing: 1.3px;
}

h1 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin: 30px 0;
}

ul {
    margin: 0 0 0 50px;
    list-style: none;
    letter-spacing: 0.1px;
}

a {
    color: white;
}

section  {
    margin: 40px 0 20px;
}

section.large {
    margin: 80px 0 0;
}

section.large h1 {
    font-size: 82px;
}

.hider {
    opacity: 0;
}

.stairs {
    transform: translateY(-44px);
    -webkit-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
}

.lots-of-stairs,
.lots-of-stairs__flipped,
.lots-of-stairs__middle  {
    overflow: hidden;
    background: url('../images/stairs2.svg');
    width: 100%;

}

.lots-of-stairs img,
.lots-of-stairs__flipped img,
.lots-of-stairs__middle img  {
    max-width: 100%;
}

.lots-of-stairs__flipped {
    background: url('../images/stairs-flipped.svg');
}

.lots-of-stairs__middle {
    background: url('../images/stairs-middle.svg');
}

/* Title Graphic */
.title {
    cursor: pointer;
    width: 755px;
}

/* Information */

.maininfo {
    color: #e8f7f6;
    width: 755px;
}

p,
h1 {
    text-align: justify;
}

.maininfo p {
    letter-spacing: 0.3px;
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}

.maininfo span {
    color: #FFF;
}

p.small {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

/* Catalogue */
.catalogue {
    width: 1200px;
}

.catalogue-mockup {
    width: 100%;
}

/* Animations */
.imbluedadadee {
    color: blue;
    transition: 2s;
    z-index: 9990000;
}

.uviclogo {
    margin: 40px 0;
}

/* Grid */
.row {
    display: inline-block;
}

.half {
    width: 50%;
}

/* Flexbox */
.flex {
    display: flex;
    display: -webkit-flex;
}

._horizontal__center {
    align-content: center;
    -webkit-align-content: center;
}

._direction__column {
    flex-direction: column;
    -webkit-flex-direction: column;
}

._alignself__center {
    align-self: center;
    -webkit-align-self: center;
}

._alignself__baseline {
    align-self: baseline;
    -webkit-align-self: baseline;
}

@media (max-width: 850px) {
    section.large h1 {
        font-size: 50px;
    }
    h1 {
        font-size: 28px;
        line-height: 38px;
    }
    p,
    .maininfo p,
    .uviclogo,
    h1 {
        padding: 0 20px;
        text-align: left;
        font-weight: 500;
    }
    p,
    .maininfo p {
        font-size: 18px;
        line-height: 28px;
    }
    .maininfo {
        width: 100%;
    }
}
